.plus_rec {
  display: none;
}

@media screen and (min-width: 769px) {
  .plus_rec {
    display: flex;
    min-width: 200px;
    margin: 5px;
    justify-content: right;

    a {
      display: flex;
      align-items: center;
    }
  }
}
