* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
:root {
  --primary_color: #f5f8fa;
  --secondary_color: #8C52FF;
  --text_color: #000000;
  --hover: #38b6ff;
}
/*#3EB8FF*/
body {
  background-color: var(--primary_color);
  color: var(--text_color);
}
main {
  min-height: calc(100vh - 100px);
  margin-top: 70px;
}
a {
  text-decoration: none;
  color: var(--secondary_color);
}
a:hover {
  color: var(--hover);
}
li {
  list-style: none;
}
