.main_vitrine {
  display: flex;
  flex-direction: column;
  padding: 0 15px 15px 15px;
  gap: 20px;

  h2 {
    font-size: 3rem;
  }

  .sect_carrossel {
    height: 480px;
    border: 1px solid var(--hover);
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    
    h2 {
      font-size: 2.5rem;
      margin-bottom: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: white;
      color: red;
    }
    .container_carrossel {
      display: flex;
      overflow-x: scroll;
      scrollbar-color: var(--secondary_color) var(--primary_color);
      gap: 15px;

      .carrossel {
        button {
          width: 100%;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          a {
            color: var(--primary_color);
          }
        }
      }
    }

    .controls_carrossel {
      padding: 20px;
      font-size: 2.5rem;
      font-weight: 700;
      color: var(--primary_color);
      display: flex;
      justify-content: center;
      gap: 30px;
    }

    .controls_carrossel span {
      background-color: var(--secondary_color);
      padding: 10px 15px;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}
