.menu_desk {
  display: none;
}
@media screen and (min-width: 769px) {
  .menu_desk {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      padding: 5px;
      font-size: 1.7rem;
      font-weight: 600;
    }
  }
}
