.footer {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-top: 2px solid var(--hover);
  height: 60px;
  position: relative;

  a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 5px;
    color: var(--secondary_color);
    &:hover {
      color: var(--hover);
    }
  }
  p {
    font-size: 1.4rem;
  }
}
